OPENAI_API_KEY=
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=
MISTRAL_API_KEY=

AGENT_API_URL="http://localhost:8888/api/v1/completions"
AGENT_DOMAIN=
AGENT_FUND_AMOUNT_ETH=

BLOCKCHAIN_RPC_URL=
BLOCK_EXPLORER_URL=
ATTESTATION_REGISTRY_CONTRACT_ADDRESS=
AUTH_VERIFIER_CONTRACT_ADDRESS=

AGENT_OWNERSHIP_ATTESTATION_SCHEMA=
AGENT_DID_AUTH_ATTESTATION_SCHEMA=
REVIEW_ATTESTATION_SCHEMA=
ERC8004_ATTESTATION_SCHEMA=
BILLIONS_ATTESTATIONS_API_URL=
BILLIONS_ATTESTATIONS_EXPLORER_URL=

ERC8004_BLOCKCHAIN_RPC_URL=
ERC8004_CHAIN_ID=
ERC8004_IDENTITY_REGISTRY_CONTRACT_ADDRESS=

OWNER_ID=
OWNER_ADDRESS=

ETH_PRIVATE_KEY=
